# === VSCode ===
.vscode/
*.code-workspace

# === Build / compilation ===
build/
bin/
obj/
Debug/
Release/
*.o
*.obj
*.elf
*.bin
*.hex
*.map
*.d
*.a
*.so
*.dll
*.exe

# === ESP-IDF ===
managed_components/
sdkconfig
sdkconfig.old
dependencies.lock


# === CMake ===
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# === Logs et fichiers temporaires ===
*.log
*.tmp
*.bak
*.swp
*~

# === Système d'exploitation ===
.DS_Store
Thumbs.db
desktop.ini

# === Fichiers sensibles / config locale ===
.env
*.pem
*.key
secrets.h
config_local.h



3D/**/*.SLDPRT
3D/**/*.SLDASM
3D/**/*.SLDDRW
3D/**/*.sldprt
3D/**/*.sldasm
3D/**/*.slddrw

3D/**/~$*.SLDPRT
3D/**/~$*.SLDASM
3D/**/~$*.SLDDRW
3D/**/~$*.sldprt
3D/**/~$*.sldasm
3D/**/~$*.slddrw

3D/**/*.bak
3D/**/*.tmp
3D/**/*.SLDPRT.*
3D/**/*.SLDASM.*
3D/**/*.SLDDRW.*
3D/**/~*.tmp

3D/**/AutoRecover/
3D/**/Config/
3D/**/sldworks.ini
3D/**/*.rpt